body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    margin: 0;
}

/*The header*/
.header {
    display: flex;
    justify-content: space-around;
    padding: 13px 20px;
    padding-top: 2%;
    background-color: #1f2937;
    color: white;
}

.right-links {
    display: flex;
    gap: 1rem;
}

/*Upper body*/

.upper-body {
    display: flex;
    justify-content: center;
    padding: 60px 70px;
    gap: 1rem;
    background-color: darkblue;
    color: white;
    margin: 50px;
    border: 30px;
    border-radius: 4%;
}

.pic {
    border-radius: 50%;
    width: 312px;
    height: 300px;
}

.bla {
    font-size: 12px;
}

.space {
    margin-top:30px;
    border: #000;
    border-radius: 6px;
}

.upper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}
.design {
    width: 300px;
    height: 300px;
    font-size:30px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 50%; 
    position: relative;
    z-index: 0;
    transition: .3s;
    cursor: pointer;
  }
  
  .design:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 10px;
    border-radius: 50%; 
    background: conic-gradient(
          #ff53bb ,
          #0000 30deg 120deg,
          #00f8d3 150deg 180deg,
          #0000 210deg 300deg,
          #ff53bb 330deg
      );
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: intersect
  }

  .design:after {
    content: "";
    position: absolute;
    inset: -100px;
    background:
      radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
      radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
    filter: blur(120px);
    opacity: .3;
  }
  
  .design:before,
  .design:after {
    transition:.5s, 99999s 99999s transform;
  }

  .design:hover {
    box-shadow: 0 0 0 1px #666;
  }
  
  .design:hover:before,
  .design:hover:after {
    transform: rotate(36000deg);
    transition: .5s,600s linear transform;
  }

  .design:before {
    background-color: #222;
      border: 2px solid #333;
  }

/*The footer*/
.footer1 {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 100px;
    background-color: #3882f6;
    color: #f9faf8;
    font-famiy: ;
}

.mini {
    font-size: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 16px;
}


/*Others:*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px #e5e7eb;
}